.na{
    border: 2px solid black;
    color:black;
    float:right;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 0px;
    padding: 4px 3px 4px 3px;
    font-weight: bold;
    border-radius: 5px;;

    
}
.na:hover{
    background-color: grey;
    text-decoration: none;
    color:white;
}
.e2{
    border:10px solid rgb(1, 1, 31);
   
     margin-top: 10px;
   border-radius: 50px;
   width:100%;
    
    
    height: 300px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 2s;
}
.me1{font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     font-weight: bold;
     color: rgba(86, 90, 88, 0.966);
     margin: 0px;}
     
     
.e2:hover {
        /* transform: matrix(1.5, 0.3, 0, 1.25, 0, 1); */
        transform: matrix(1.1,0,0,1.1,0,0);
     }
.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }